<div class="header  pb-8 pt-5 pt-md-8" style="background-image: url('./assets/img/brand/sideNavBar.jpg'); background-size: cover;">
  <div class="container-fluid pt-5">
    <div class="header-body">


    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0 d-flex justify-content-between">
            <h3 class="text-white mb-0">Competition Table</h3>
            <button type="button" class="btn btn-info text-white bg-gradient-info" placement="left" data-toggle="modal" 
            data-target="#addCompetition">
              Add New Competition
          </button>
          <div class="modal fade" id="addCompetition" tabindex="-1" aria-labelledby="addCompetitionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header bg-gradient-info">
                  <h5 class="modal-title text-white" id="addCompetitionModalLabel">
                    Add A New Competition
                </h5>
                  <button type="button" class="btn btn-close" data-dismiss="modal" 
                aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark d-flex justify-content-around">

                  <form (ngSubmit)="submitForm()">
                    <div class="d-flex justify-content-around">
                    <div>
                      <img src="./assets/img/brand/modal1.jpg" width="500" height="700">
                    </div>
                    <div>
                    <div class="mb-3">
                      <label for="date" class="form-label">Date</label>
                      <input type="date" class="form-control" id="date" [(ngModel)]="competition.date">
                    </div>
                    <div class="mb-3">
                      <label for="startTime" class="form-label">Start Time</label>
                      <input type="time" class="form-control" id="startTime" [(ngModel)]="competition.startTime">
                    </div>
                    <div class="mb-3">
                      <label for="endTime" class="form-label">End Time</label>
                      <input type="time" class="form-control" id="endTime" [(ngModel)]="competition.endTime">
                    </div>
                    <div class="mb-3">
                      <label for="numberOfParticipants" class="form-label">Number of Participants</label>
                      <input type="number" class="form-control" id="numberOfParticipants" [(ngModel)]="competition.numberOfParticipants">
                    </div>
                    <div class="mb-3">
                      <label for="location" class="form-label">Location</label>
                      <input type="text" class="form-control" id="location" [(ngModel)]="competition.location">
                    </div>
                    <div class="mb-3">
                      <label for="amount" class="form-label">Amount</label>
                      <input type="number" class="form-control" id="amount" step="0.01" [(ngModel)]="competition.amount">
                    </div>
                    </div>
                  </div>
                    <div class="modal-footer d-flex justify-content-end">
                      <button type="submit" class="btn btn-info bg-gradient-info" > Submit</button>
                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Competition Code</th>
                  <th scope="col">Competition Date</th>
                  <th scope="col">Location</th>
                  <th scope="col">Numberof participants</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody *ngFor="let competition of competitions">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{competition.code}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{competition.date}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> {{competition.location}}
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      {{competition.numberOfParticipants}}
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                      </a>
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                        <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                      </a>
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                        <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                      </a>
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                        <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{competition.amount}}</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">en cours</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>