<div class="header  pb-8 pt-5 pt-md-8" style="background-image: url('./assets/img/brand/sideNavBar.jpg'); background-size: cover;">
    <div class="container-fluid pt-5">
      <div class="header-body">
      </div>
    </div>
  </div>
<div>

<div #registerModal class="modal fade" id="register" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-gradient-info">
        <h5 class="modal-title text-white" id="registerModalLabel">
          Register
      </h5>
        <button type="button" class="btn btn-close" (click)="closeModal()" 
      aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark d-flex justify-content-around">
        <form (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="num" class="form-label">Member Number</label>
            <input type="number" class="form-control" id="num" [(ngModel)]="register.num">
          </div>
          <div class="modal-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-info bg-gradient-info" > Submit</button>
            <button type="button" class="btn btn-warning" (click)="closeModal()" >Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="container">
    <div class="row mt-3 mx-2" >
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by competition code"
            [(ngModel)]="code"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchCode()"
            >
              Search
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let competition of competitions | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index">
      <div class="col-md-6 ">
        <article class="card fl-left">
          <section class="date">
              <time datetime="23th feb">
              <span>{{ competition.amount }}</span><span>MAD</span>
              </time>
          </section>
          <section class="card-cont">
            <div class="d-flex justify-content-between">
              <div>
                <small>dj khaled</small>
                <h3>{{ competition.code }}</h3>
              </div>
              <button type="button" class="btn text-white bg-gradient-transparent" (click)="redirectTocompetition(competition)" >
                <svg width="50px" height="50px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ffae00">

                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                
                <g id="SVGRepo_iconCarrier">
                
                <path fill="#000000" fill-rule="evenodd" d="M8 3.517a1 1 0 011.62-.784l5.348 4.233a1 1 0 010 1.568l-5.347 4.233A1 1 0 018 11.983v-1.545c-.76-.043-1.484.003-2.254.218-.994.279-2.118.857-3.506 1.99a.993.993 0 01-1.129.096.962.962 0 01-.445-1.099c.415-1.5 1.425-3.141 2.808-4.412C4.69 6.114 6.244 5.241 8 5.042V3.517zm1.5 1.034v1.2a.75.75 0 01-.75.75c-1.586 0-3.066.738-4.261 1.835a8.996 8.996 0 00-1.635 2.014c.878-.552 1.695-.916 2.488-1.138 1.247-.35 2.377-.33 3.49-.207a.75.75 0 01.668.745v1.2l4.042-3.2L9.5 4.55z" clip-rule="evenodd"/>
                
                </g>
                
                </svg>
              </button>
            </div>
              
              <div class="even-date d-flex justify-content-around">
              <i class="fa fa-calendar"></i>
              <time>
                  <span>{{ competition.date }}</span>
                  <span>{{ competition.startTime }} to {{ competition.endTime }}</span>
              </time>
              </div>
              <div class="even-info">
              <i class="fa fa-map-marker"></i>
              <p>{{ competition.location }}</p>
              </div>
              <a href="/ranking" [ngClass]="{
                  'completed': competition.status === 'Completed',
                  'in-process': competition.status === 'In Process',
                  'pending': competition.status === 'Pending'
              }">{{ competition.status }}</a>
              <!-- Popup button -->
              <button *ngIf="competition.isFuture" type="button" class="btn btn-info text-white bg-gradient-info" placement="left" (click)="openModal(competition.code)">
                Register
              </button>
          </section>
        </article>
      </div>
        <!-- Add a new row after every two competitions -->
      <div class="clearfix d-md-none" *ngIf="(i + 1) % 2 === 0"></div>
      </ng-container>
      <div class="d-flex justify-content-around">
        <div class="col-md-12">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
        <div>
          <div class="mb-3">
            <label for="competition" class="form-label">Competition per Page:</label>
            <select  class="form-control" (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
</section>

