<div class="header  pb-8 pt-5 pt-md-8" style="background-image: url('./assets/img/brand/sideNavBar.jpg'); background-size: cover;">
    <div class="container-fluid pt-5">
      <div class="header-body">
      </div>
    </div>
  </div>
<div>
        <div class="container podium">
            <div class="podium__item">
            <p class="podium__city">Annecy</p>
            <div class="podium__rank second">
                <svg height="150px" weight="150px" viewBox="-3.5 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.73779 18.8436L12.9509 20.6987L6.42609 32.0001L4.55333 27.8234L9.73779 18.8436Z" fill="#418ED6"/>
                    <path d="M9.73779 18.8436L6.52467 16.9885L-0.000155079 28.2899L4.55333 27.8234L9.73779 18.8436Z" fill="#2B63A6"/>
                    <path d="M14.3218 18.8436L11.1087 20.6987L17.6335 32.0001L19.5062 27.8234L14.3218 18.8436Z" fill="#2B63A6"/>
                    <path d="M14.3218 18.8436L17.5349 16.9885L24.0597 28.2899L19.5062 27.8234L14.3218 18.8436Z" fill="#418ED6"/>
                    <circle cx="12.0246" cy="11.0622" r="11.0622" fill="#E3E3E3"/>
                    <circle cx="12.0247" cy="11.0621" r="8.63501" fill="#595959"/>
                    <mask id="mask0_103_1231" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="19" height="18">
                    <circle cx="12.4857" cy="11.984" r="8.65511" fill="#C28B37"/>
                    </mask>
                    <g mask="url(#mask0_103_1231)">
                    <circle cx="12.0247" cy="11.0622" r="8.65511" fill="url(#paint0_linear_103_1231)"/>
                    </g>
                    <path d="M12.0713 5.04102L13.9383 8.77508L17.6724 9.24183L15.1083 12.1171L15.8054 16.2432L12.0713 14.3762L8.33724 16.2432L9.04049 12.1171L6.47021 9.24183L10.2043 8.77508L12.0713 5.04102Z" fill="url(#paint1_linear_103_1231)"/>
                    <defs>
                    <linearGradient id="paint0_linear_103_1231" x1="12.0247" y1="2.4071" x2="12.0247" y2="19.7173" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#9CA1A3"/>
                    <stop offset="1" stop-color="#9CA1A3" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_103_1231" x1="12.0713" y1="5.04102" x2="12.0713" y2="16.2432" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F1F5F5"/>
                    <stop offset="0.0001" stop-color="white"/>
                    <stop offset="1" stop-color="#F1F5F5"/>
                    </linearGradient>
                    </defs>
                    </svg>
            </div>
            </div>
            <div class="podium__item">
            <p class="podium__city">Saint-Gervais</p>
            <div class="podium__rank first"> 
                <svg class="podium__number" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet">

                    <path fill="#428bc1" d="M46.1 2L34.8 18.9h5.6L53 2z">
                    
                    </path>
                    
                    <path fill="#e8e8e8" d="M40.4 2L29.2 18.9h5.6L46.1 2z">
                    
                    </path>
                    
                    <path fill="#ed4c5c" d="M34.8 2L23.6 18.9h5.6L40.4 2z">
                    
                    </path>
                    
                    <g fill="#ffce31">
                    
                    <circle cx="32" cy="41.4" r="20.6">
                    
                    </circle>
                    
                    <path d="M21.7 15.1c-.5 0-.9.4-.9.9v8.4c0 .5.4.9.9.9h20.6c.5 0 .9-.4.9-.9V16c0-.5-.4-.9-.9-.9H21.7m19.7 6.6c0 .5-.4.9-.9.9H23.6c-.5 0-.9-.4-.9-.9v-3.8c0-.5.4-.9.9-.9h16.9c.5 0 .9.4.9.9v3.8">
                    
                    </path>
                    
                    </g>
                    
                    <path d="M14.3 43.8c0-11.2 8.6-20.3 19.6-21.1c-.5 0-1.1-.1-1.6-.1c-10.5 0-19 8.5-19 19.1c0 3.1.8 6.1 2.1 8.7c-.7-2.1-1.1-4.3-1.1-6.6" opacity=".5" fill="#89664c">
                    
                    </path>
                    
                    <path d="M39.9 57.3C49.2 51.1 52 39 46.6 29.6l.9 1.2c5.8 8.6 3.4 20.3-5.3 26.2c-2.6 1.8-5.5 2.8-8.4 3.1c2.2-.6 4.2-1.5 6.1-2.8" opacity=".33" fill="#ffffff">
                    
                    </path>
                    
                    <path fill="#ed4c5c" d="M23.6 18.9h5.6L17.9 2H11z">
                    
                    </path>
                    
                    <path fill="#e8e8e8" d="M29.2 18.9h5.6L23.6 2h-5.7z">
                    
                    </path>
                    
                    <path opacity=".5" fill="#3e4347" d="M32.9 4.8L30.1 9l6.6 9.9h3.7l1-1.4z">
                    
                    </path>
                    
                    <path fill="#428bc1" d="M34.8 18.9h5.6L29.2 2h-5.6z">
                    
                    </path>
                    
                    <g fill="#89664c">
                    
                    <path d="M26.8 35.2v1c1 0 1.9-.2 2.8-.6v-1.4c-.8.6-1.7.9-2.8 1" opacity=".5">
                    
                    </path>
                    
                    <path opacity=".5" d="M33.4 28.7h.9v21.6h-.9z">
                    
                    </path>
                    
                    <path opacity=".5" d="M37.2 51.2V54H26.8v1h11.3v-3.8z">
                    
                    </path>
                    
                    </g>
                    
                    <g fill="#ffffff">
                    
                    <path opacity=".33" d="M34.3 50.3h2.8v.9h-2.8z">
                    
                    </path>
                    
                    <path d="M30.6 28.7h2.8v-.9h-3.8c0 2.1-1.7 3.8-3.8 3.8v3.7c.3 0 .6 0 .9-.1v-2.8c2.2.1 3.9-1.6 3.9-3.7" opacity=".33">
                    
                    </path>
                    
                    <path d="M30.6 51.2v-16c-.3.2-.6.3-.9.5v14.6h-3.8V54h.9v-2.8h3.8" opacity=".33">
                    
                    </path>
                    
                    </g>
                    
                    </svg>
            </div>
            </div>
            <div class="podium__item">
            <p class="podium__city">Clermont-Ferrand Essentielle</p>
            <div class="podium__rank third"><svg width="80px" height="80px" viewBox="-3.5 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.73779 18.8436L12.9509 20.6987L6.42609 32.0001L4.55333 27.8234L9.73779 18.8436Z" fill="#AA75CB"/>
                <path d="M9.73779 18.8436L6.52467 16.9885L-0.000155079 28.2899L4.55333 27.8234L9.73779 18.8436Z" fill="#73488D"/>
                <path d="M14.3218 18.8436L11.1087 20.6987L17.6335 32.0001L19.5062 27.8234L14.3218 18.8436Z" fill="#73488D"/>
                <path d="M14.3218 18.8436L17.5349 16.9885L24.0597 28.2899L19.5062 27.8234L14.3218 18.8436Z" fill="#AA75CB"/>
                <circle cx="12.0246" cy="11.0622" r="11.0622" fill="#DC9E42"/>
                <circle cx="12.0247" cy="11.0621" r="8.63501" fill="#734C12"/>
                <mask id="mask0_103_1242" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="19" height="18">
                <circle cx="12.4857" cy="11.984" r="8.65511" fill="#C28B37"/>
                </mask>
                <g mask="url(#mask0_103_1242)">
                <circle cx="12.0247" cy="11.0622" r="8.65511" fill="#A36D1D"/>
                </g>
                <path d="M12.0713 5.04102L13.9383 8.77508L17.6724 9.24183L15.1083 12.1171L15.8054 16.2432L12.0713 14.3762L8.33724 16.2432L9.04049 12.1171L6.47021 9.24183L10.2043 8.77508L12.0713 5.04102Z" fill="url(#paint0_linear_103_1242)"/>
                <defs>
                <linearGradient id="paint0_linear_103_1242" x1="12.0713" y1="5.04102" x2="12.0713" y2="16.2432" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FCFF80"/>
                <stop offset="0.401042" stop-color="#FDE870"/>
                <stop offset="1" stop-color="#FFC759"/>
                </linearGradient>
                </defs>
                </svg></div>
            </div>
        </div>
      