<div class="header  pb-8 pt-5 pt-md-8" style="background-image: url('./assets/img/brand/sideNavBar.jpg'); background-size: cover;">
    <div class="container-fluid pt-5">
      <div class="header-body">
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name , family name or number"
            [(ngModel)]="search"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchTitle()"
            >
              Search
            </button>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0 d-flex justify-content-between">
              <h3 class="text-white mb-0">Member Table</h3>
              <button type="button" class="btn btn-info text-white bg-gradient-info" placement="left" (click)="openModal()">
                Add New Member
            </button>
            <div #memberModal class="modal fade" id="addMember" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-gradient-info">
                    <h5 class="modal-title text-white" id="addMemberModalLabel">
                      Add A New Member
                  </h5>
                    <button type="button" class="btn btn-close" (click)="closeModal()" 
                  aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-dark d-flex justify-content-around">
  
                    <form (ngSubmit)="submitForm()">
                      <div class="d-flex justify-content-around">
                      <div>
                      <div class="mb-3">
                        <label for="num" class="form-label">Numero</label>
                        <input type="number" class="form-control" id="num" [(ngModel)]="Member.num">
                      </div>
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="Member.name">
                      </div>
                      <div class="mb-3">
                        <label for="familyName" class="form-label">family name</label>
                        <input type="text" class="form-control" id="familyName" [(ngModel)]="Member.familyName">
                      </div>
                      <div class="mb-3">
                        <label for="natioanlity" class="form-label">natioanlity</label>
                        <input type="text" class="form-control" id="natioanlity" [(ngModel)]="Member.nationality">
                      </div>
                      <div class="mb-3">
                        <label for="identityDocument" class="form-label">identity Document</label>
                        <select  class="form-control" id="identity" step="0.01" [(ngModel)]="Member.identityDocument">
                            <option value="CIN"> CIN</option>
                            <option value="PASSPORT"> PASSPORT</option>
                            <option value="CARTE_RESIDENCE"> CARTE_RESIDENCE</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="identityNumber" class="form-label">Identity Number</label>
                        <input type="text" class="form-control" id="identityNumber" [(ngModel)]="Member.identityNumber">
                      </div>
                      </div>
                    </div>
                      <div class="modal-footer d-flex justify-content-end">
                        <button type="submit" class="btn btn-info bg-gradient-info" > Submit</button>
                        <button type="button" class="btn btn-warning" (click)="closeModal()">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Member numero</th>
                    <th scope="col">Member name</th>
                    <th scope="col">Member Family Name</th>
                    <th scope="col">nationality</th>
                    <th scope="col">identity Document type</th>
                    <th scope="col">identity Number</th>
                    <th scope="col">action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let Member of Members | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index">
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{Member.num}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{Member.name}}
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{Member.familyName}}
                        </span>
                      </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> {{Member.nationality}}
                      </span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{Member.identityDocument}}</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{Member.identityNumber}}</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="javascript:void(0)">Action</a>
                          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around mt-3">
          <div class="col-md-12">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
          <div>
            <div class="mb-3 d-flex justify-content-around">
              <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.46225 4.18921L4.28027 7.37119L5.34093 8.43185L6.74979 7.02299L6.74979 16.8259L5.34093 15.417L4.28027 16.4777L7.46225 19.6597L10.6442 16.4777L9.58357 15.417L8.24979 16.7508L8.24979 7.09807L9.58357 8.43185L10.6442 7.37119L7.46225 4.18921ZM20.2499 5.24989H11.9999V6.74989H20.2499V5.24989ZM20.2499 17.2499H11.9999V18.7499H20.2499V17.2499ZM11.9999 11.2499H20.2499V12.7499H11.9999V11.2499Z" fill="#080341"/>
                </svg>
              <select  class="form-control" (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </div>
    </div>
  </div>